# Python related
__pycache__

# CSV Files
/app/static/en.openfoodfacts.org.products.csv
/app/static/openfoodfact_clean.csv

# Databases
/instance/

# Environments
.venv
/venv/
/app/static/nutriscore.db
.vscode

# AI Models
/app/ai-model/