# Python related
__pycache__

# CSV Files
/app/static/en.openfoodfacts.org.products.csv
/app/static/openfoodfact_clean.csv

# Databases
/instance/

# Environments
.venv
/app/static/nutriscore.db
/app/scripts/models/
