# Python related
__pycache__

# CSV Files
/csv/en.openfoodfacts.org.products.csv
/app/static/en.openfoodfacts.org.products.csv
/app/static/openfoodfact_clean.csv

# Databases
/instance/

# Environments
.venv